Repository Vunnupyx/xcells: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

lint-docker-frontend:
  before_script:
  - cd frontend
  stage: lint
  image: registry.awesome-it.de/upstream-dockerhub/hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  before_script:
  - cd backend
  stage: lint
  image: registry.awesome-it.de/upstream-dockerhub/hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  before_script:
  - cd frontend
  image: registry.awesome-it.de/upstream-dockerhub/library/node:16-alpine
  cache:
    key: node-modules-frontend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-frontend-ts:
  before_script:
  - cd frontend
  image: registry.awesome-it.de/upstream-dockerhub/library/node:16-alpine
  cache:
    key: node-modules-frontend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint-ts

lint-backend:
  before_script:
  - cd backend
  image: registry.awesome-it.de/upstream-dockerhub/library/node:16-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

test-frontend:
  before_script:
  - cd frontend
  image: registry.awesome-it.de/upstream-dockerhub/library/node:16-alpine
  cache:
    key: node-modules-frontend
    paths:
    - /root/.npm/**/*
  stage: test
  script:
  - cd ../backend
  - npm ci
  - cd ../frontend
  - npm ci
  - npm run genversion
  - DEBUG="app:*" npm run test
  artifacts:
  ...

test-backend:
  before_script:
  - cd backend
  image: registry.awesome-it.de/upstream-dockerhub/library/node:16-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: registry.awesome-it.de/upstream-dockerhub/library/mongo:4.2.8
    alias: mongo
  variables:
  ...

fix(ci): remove awesome harbour docker proxy
  .gitlab-ci.yml
Due: none

feat: added user signup
  backend/src/controllers/AuthController.js
  backend/src/routers/authenticationRouter.js
  frontend/src/components/dialogs/SignupDialog.js
  frontend/src/contexts/auth.js
  frontend/src/intl/map.en.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

WIP: add waitlist page
  backend/src/controllers/AuthController.js
  backend/src/controllers/StatisticsController.js
  backend/src/models/User.js
  backend/src/routers/statisticsRouter.js
  frontend/src/components/layout/HomeMenuItems.js
  frontend/src/components/pages/CRM/WaitlistTable.js
  frontend/src/components/pages/WaitlistAdmin.js
  frontend/src/intl/map.en.js
  frontend/src/routes/MapsRouter.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

feat: added nodemailer to register
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/AuthController.js
  backend/src/controllers/StatisticsController.js
  backend/src/email.js
  backend/src/scripts/createUser.js
  frontend/src/components/dialogs/SignupDialog.js
  frontend/src/components/pages/CRM/WaitlistTable.js
  frontend/src/components/pages/WaitlistAdmin.js
  frontend/src/intl/map.en.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

feat: added validation to Sign Up and new alert-dialog component
  backend/src/controllers/AuthController.js
  backend/src/scripts/createUser.js
  frontend/src/components/dialogs/LoginDialog.js
  frontend/src/components/dialogs/SignupDialog.js
  frontend/src/contexts/auth.js
  frontend/src/intl/map.en.js
  frontend/src/shared/components/AlertDialog.js
  frontend/src/utils/isValidPassword.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

refactor: style formatting and fix mailer
  backend/.env.template
  backend/src/controllers/AuthController.js
  backend/src/email.js
  frontend/src/components/dialogs/LoginDialog.js
  frontend/src/components/dialogs/SignupDialog.js
  frontend/src/components/map/GuestSignupBox.js
  frontend/src/components/map/appbar/ProfileMenu.js
  frontend/src/components/pages/CallToRegister.js
  frontend/src/components/pages/MapNew.js
  frontend/src/contexts/auth.js
  frontend/src/contexts/mapStore.js
  frontend/src/intl/links.js
  frontend/src/intl/map.en.js
  frontend/src/shared/components/AlertDialog.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

import SMTP settings from .env file
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/constants.js
Due: lint-backend, test-backend

Feature/8 signup
  backend/.env.template
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/constants.js
  backend/src/controllers/AuthController.js
  backend/src/controllers/StatisticsController.js
  backend/src/email.js
  backend/src/models/User.js
  backend/src/routers/authenticationRouter.js
  backend/src/routers/statisticsRouter.js
  backend/src/scripts/createUser.js
  frontend/src/components/dialogs/LoginDialog.js
  frontend/src/components/dialogs/SignupDialog.js
  frontend/src/components/layout/HomeMenuItems.js
  frontend/src/components/map/GuestSignupBox.js
  frontend/src/components/map/appbar/ProfileMenu.js
  frontend/src/components/pages/CRM/WaitlistTable.js
  frontend/src/components/pages/CallToRegister.js
  frontend/src/components/pages/MapNew.js
  frontend/src/components/pages/WaitlistAdmin.js
  frontend/src/contexts/auth.js
  frontend/src/contexts/mapStore.js
  frontend/src/intl/links.js
  frontend/src/intl/map.en.js
  frontend/src/routes/MapsRouter.js
  frontend/src/shared/components/AlertDialog.js
  frontend/src/utils/isValidPassword.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

WIP: adds ag-grid
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/map/agGrid/AgGrid.js
  frontend/src/components/map/toolbar/MapToolbar.js
  frontend/src/engine/CONFIG.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

fix: fix test case, linting and formatting
  backend/src/app.test.js
  backend/src/constants.js
  backend/src/utils/test/users.js
  frontend/src/components/dialogs/LoginDialog.js
  frontend/src/components/dialogs/SignupDialog.js
  frontend/src/components/pages/CRM/WaitlistTable.js
  frontend/src/shared/components/AlertDialog.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

Feature/8 signup
  backend/src/app.test.js
  backend/src/constants.js
  backend/src/utils/test/users.js
  frontend/src/components/dialogs/LoginDialog.js
  frontend/src/components/dialogs/SignupDialog.js
  frontend/src/components/pages/CRM/WaitlistTable.js
  frontend/src/shared/components/AlertDialog.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

Put SMTP server's settings into docker-compose (password is to be changed later)
  docker-compose.yml
Due: none

feat: adds table to a canvas
  frontend/src/components/map/agGrid/AgGrid.js
  frontend/src/components/map/grid/Grid.js
  frontend/src/components/map/toolbar/MapToolbar.js
  frontend/src/engine/CONFIG.ts
  frontend/src/engine/PixiNode.ts
  frontend/src/engine/elements/node/NODE_ELEMENT_TYPES.ts
  frontend/src/engine/elements/node/NodeElements.ts
  frontend/src/engine/elements/node/NodeHtml.ts
  frontend/src/engine/events/EventManager.ts
  frontend/src/engine/types.ts
  frontend/src/store/actions.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

refactor: adds table icon and table responds to the height and width of its content box
  frontend/src/components/map/toolbar/MapToolbar.js
  frontend/src/engine/CONFIG.ts
  frontend/src/engine/elements/node/NodeHtml.ts
  frontend/src/intl/map.en.js
Due: lint-frontend, lint-frontend-ts, test-frontend

fix: added support for wide table inside card's borders
  frontend/src/engine/elements/node/NodeHtml.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

WIP: adds table edit mode
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/components/map/nodeMenu/NodeMenu.js
  frontend/src/components/map/toolbar/EditTableMenuItem.js
  frontend/src/engine/RenderEngineControl.ts
  frontend/src/engine/types.ts
  frontend/src/intl/map.en.js
  frontend/src/store/actions.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

WIP: refactor table out into the ag-grid component
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/components/map/toolbar/EditTableMenuItem.js
  frontend/src/components/map/toolbar/MapToolbar.js
  frontend/src/engine/PixiNode.ts
  frontend/src/engine/RenderEngineControl.ts
  frontend/src/engine/elements/node/NODE_ELEMENT_TYPES.ts
  frontend/src/engine/elements/node/NodeElements.ts
  frontend/src/engine/elements/node/NodeHtml.ts
  frontend/src/engine/events/EventManager.ts
  frontend/src/engine/types.ts
  frontend/src/store/actions.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

WIP: add ag-grid style
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/components/map/toolbar/MapToolbar.js
  frontend/src/engine/PixiNode.ts
  frontend/src/engine/RenderEngineControl.ts
  frontend/src/engine/elements/node/NodeHtml.ts
  frontend/src/engine/types.ts
  frontend/src/store/actions.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

fix: grid options saving/loading from AG grid
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/components/map/nodeMenu/NodeMenu.js
  frontend/src/components/map/toolbar/MapToolbar.js
  frontend/src/engine/PixiNode.ts
  frontend/src/engine/elements/node/NodeHtml.ts
  frontend/src/intl/map.en.js
  frontend/src/store/actions.ts
  frontend/src/utils/object.js
Due: lint-frontend, lint-frontend-ts, test-frontend

refactor: add standard features of the AG grid
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/engine/PixiNode.ts
  frontend/src/engine/RenderEngineControl.ts
  frontend/src/engine/elements/node/NodeHtml.ts
  frontend/src/engine/types.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

new Card-Type Table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/components/map/grid/Grid.js
  frontend/src/components/map/nodeMenu/NodeMenu.js
  frontend/src/components/map/toolbar/EditTableMenuItem.js
  frontend/src/components/map/toolbar/MapToolbar.js
  frontend/src/engine/CONFIG.ts
  frontend/src/engine/PixiNode.ts
  frontend/src/engine/RenderEngineControl.ts
  frontend/src/engine/elements/node/NodeElements.ts
  frontend/src/engine/elements/node/NodeHtml.ts
  frontend/src/engine/events/EventManager.ts
  frontend/src/engine/types.ts
  frontend/src/intl/map.en.js
  frontend/src/store/actions.ts
  frontend/src/utils/object.js
Due: lint-frontend, lint-frontend-ts, test-frontend

fix: add test case and fix any errors
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/components/map/grid/Grid.js
  frontend/src/store/actions.test.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

Fix tests
  frontend/src/components/dialogs/EditTableDialog.js
  frontend/src/components/map/grid/Grid.js
  frontend/src/store/actions.test.ts
Due: lint-frontend, lint-frontend-ts, test-frontend

feat: replace the logo
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-256x256.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/mstile-150x150.png
  frontend/public/safari-pinned-tab.svg
  frontend/src/assets/210218_infinitymaps-logo_final-charcoal.png
  frontend/src/assets/210218_infinitymaps-logo_final-charcoal_no-text.png
  frontend/src/assets/logo.png
  frontend/src/assets/xcells_logo.png
  frontend/src/assets/xcells_logo_no-text.png
  frontend/src/components/layout/appBar/Logo.js
  frontend/src/components/map/appbar/AppBar.js
Due: lint-frontend, lint-frontend-ts, test-frontend

feat: added profile setting layout
  frontend/src/components/layout/SettingsLayout.js
  frontend/src/components/layout/SettingsMenuItems.js
  frontend/src/components/layout/appBar/UserPopover.js
  frontend/src/components/pages/AppsSettings.js
  frontend/src/components/pages/ProfileSettings.js
  frontend/src/intl/map.en.js
  frontend/src/routes/SettingsRouter.js
  frontend/src/routes/index.js
Due: lint-frontend, lint-frontend-ts, test-frontend

feat: add OpenAI GPT integration
  frontend/src/assets/openai.jpg
  frontend/src/components/dialogs/IntegrationDialog.js
  frontend/src/components/dialogs/OpenaiDialog.js
  frontend/src/components/pages/settings/SettingsLayout.js
  frontend/src/components/pages/settings/SettingsMenuItems.js
  frontend/src/components/pages/settings/integration/IntegrationCategory.js
  frontend/src/components/pages/settings/integration/IntegrationPage.js
  frontend/src/components/pages/settings/user/ProfilePage.js
  frontend/src/intl/map.en.js
  frontend/src/routes/SettingsRouter.js
Due: lint-frontend, lint-frontend-ts, test-frontend

refactor: adding style and permissions of readonly
  frontend/src/components/pages/settings/SettingsMenuItems.js
  frontend/src/components/pages/settings/user/ProfilePage.js
  frontend/src/contexts/auth.js
Due: lint-frontend, lint-frontend-ts, test-frontend

feat: add configuration for OpenAI API
  backend/src/controllers/IntegrationController.js
  backend/src/models/Integration.js
  backend/src/routers/apiRouter.js
  backend/src/routers/integrationRouter.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dialogs/OpenaiDialog.js
  frontend/src/components/layout/appBar/Logo.js
  frontend/src/components/map/appbar/ProfileMenu.js
  frontend/src/components/pages/settings/SettingsMenuItems.js
  frontend/src/components/pages/settings/integration/IntegrationCategory.js
  frontend/src/intl/map.en.js
Due: lint-frontend, lint-frontend-ts, lint-backend, test-frontend, test-backend

minor adjustments for chatGPT 3 turbo model
  frontend/src/components/dialogs/OpenaiDialog.js
  frontend/src/intl/map.en.js
Due: lint-frontend, lint-frontend-ts, test-frontend

cleanup
  frontend/src/components/dialogs/OpenaiDialog.js
  frontend/src/intl/map.en.js
Due: lint-frontend, lint-frontend-ts, test-frontend

fix openAI integration tile displayed after installation
  frontend/src/components/pages/settings/integration/IntegrationPage.js
Due: lint-frontend, lint-frontend-ts, test-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-frontend-ts: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
